@model List<UserDTO>
@{
    ViewBag.Title = "商户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="breadcrumb">
    <i class="Hui-iconfont"></i>
    管理
    <span class="c-gray en">&gt;</span>
    商户管理
</nav>
<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="r" style="padding-right: 20px;">
        <a class="btn btn-primary radius" data-title="添加商户" onclick="add('添加商户','../User/Add','800','650')" href="javascript:;">
            <i class="Hui-iconfont"></i> 添加商户
        </a>
    </span>
</div>
<div class="page-container">
    <div class="text-c" style="padding-bottom:10px;">
        <form class="form form-horizontal" id="form-search" method="get" action="List">
            <input type="text" name="param" id="" placeholder="商户编号或名称" style="width:250px" class="input-text">
            <button name="" id="search" class="btn btn-success" type="submit"><i class="Hui-iconfont"></i> 搜索</button>
        </form>
    </div>
    <table class="table table-border table-bordered table-hover">
        <thead>
            <tr>
                <th>商户编号</th>
                <th>商户名称</th>
                <th>登录账号</th>
                <th>商户描述</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.LoginName
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.CreateDate
                    </td>
                    <td>
                        <input class="btn btn-primary radius" type="button" value="编辑" onclick="edit('商户编辑','../User/Edit/@item.Id','800','650')">
                        <input class="btn btn-danger-outline radius" type="button" value="删除" onclick="del(this,'@item.Id')">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section footScript
{
    <script type="text/javascript">

        function add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        function edit(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        function del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                //利用Ajax进行删除操作
                $.ajax({
                    url: '/User/Delete',
                    //type: 'get',
                    type: 'post', //此处推荐用post请求，避免攻击
                    data: { 'id': id },
                    dataType: 'json',
                    success: function(data) {
                        if (data.state == 'ok') {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', { icon: 1, time: 1000 });
                        } else {
                            layer.msg(data.msg, { icon: 2, time: 2000 });
                        } 
                    },
                    error: function() {
                        layer.msg('删除失败!', { icon: 2, time: 1000 });
                    }
                });
            });
        }

    </script>
}
